---
import Layout from "@/layouts/Layout.astro";
import Prose from "@/components/Prose.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: {
      post,
    },
  }));
}

const { post } = Astro.props;
const { Content, remarkPluginFrontmatter } = await post.render();
---

<Layout
  title={`
  ${post.data.title} - ${post.data.author}
`}
  description={post.data.excerpt}
  image={post.data.image}
>
  <div class="p-2">
    <div class="flex justify-start items-center">
      <a href="/blog/">
        <div
          class="flex justify-start items-center gap-1 text-blue-500 hover:underline text-sm"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="w-4 h-4 stroke-2 stroke-current"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M15 6l-6 6l6 6"></path></svg
          >
          <span>Back to Blog</span>
        </div></a
      >
    </div>

    <div class="mt-8 sm:mt-10 space-y-2">
      <p class="text-neutral-200 text-sm">
        {post.data.category}
      </p>
      <h1 class="text-3xl sm:text-4xl md:text-5xl text-white font-bold">
        {post.data.title}
      </h1>
    </div>

    <div class="flex items-center justify-start mt-6">
      <img
        src={"/me.webp"}
        alt={post.data.author}
        class="w-12 h-12 rounded-full"
      />
      <div class="ml-3 space-y-0.5">
        <p class="text-neutral-200 text-sm">{post.data.author}</p>
        <div class="flex justify-start items-center gap-2">
          <p class="text-neutral-400 text-xs">
            {
              post.data.publishDate.toLocaleString("en-US", {
                month: "long",
                day: "numeric",
                year: "numeric",
              })
            }
          </p>
          <span class="text-neutral-400 text-xs">•</span>
          <p class="text-neutral-400 text-xs">
            {
              remarkPluginFrontmatter?.minutesRead
                ? remarkPluginFrontmatter.minutesRead
                : "999 min read"
            }
          </p>
        </div>
      </div>
    </div>

    <div class="mt-6">
      {
        post.data.image && (
          <img
            src={post.data.image}
            alt={post.data.title}
            class="w-full h-60 sm:h-96 object-cover rounded-lg"
          />
        )
      }
    </div>

    <div class="mt-10 mb-12">
      <Prose>
        <Content />
      </Prose>
    </div>
  </div>
</Layout>
